{#
To resolve needing to provide the HTML5 boilerplate, we'll use
11ty's concept of layouts. One of the expected 11ty directories is
called _includes and it's where you can add layouts.

A common 11ty convention is to create this essential HTML structure
within _includes/base.njk

Since we've created this as a Nunjucks template file (.njk), we can use the double-curly format to access the title Frontmatter variable, like so: {{ title }}.
#}

<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
</head>
<body>
<header>
  <h1>{{ title }}</h1>
  <hr  />
</header>
<main>
  {# we need to designate where the body of the markdown file should go.
  This is available in the Eleventy global page variable of content.
  In order to allow rendering of any HTML tags from the page content, we also use the built-in filter called safe which is added after placing a pipe - | - character.
  #}
  {{ content | safe }}
</main>
</body>
</html>
